@import url("mallory_font.css");

/*@import url("../fonts/FontAwesome_5.0.6/css/fontawesome-all.min.css");*/


/* ==================================================================================
   PAGE ELEMENTS & BOOTSTRAP OVERRIDES
   ================================================================================== */

body {
    /* border-top: 4px solid #ff3366;
    border-bottom: 4px solid #ff3366;
    padding-bottom: 3rem; */
    font-family: 'Mallory MP Light', sans-serif;
    font-size: 14px;
    color: black;
    /* width: 100%;
    margin: 0;
    padding: 0;
    height: 100%; */
    overflow-x: hidden;
}

.header {
    background-color: #dde6ee;
}


/* .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
 */

header {
    padding-left: 0!important;
    padding-right: 0!important;
}

footer {
    /* border-top: 1px #ddd solid; */
    margin-top: 5em;
}

.paragraph>.paragraph__column {
    padding-bottom: 0;
}


/* ==================================================================================
   HEADINGS & TYPOGRAPHY
   ================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    font-family: "Mallory Bold";
    text-transform: uppercase;
    color: black;
}

strong {
    font-family: "Mallory MP Bold";
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4,
h5,
h6 {
    font-size: 1.5rem;
}

a:link,
a:visited {
    font-family: "Mallory MP Bold";
    color: #296dc0;
    text-decoration: none;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

a:hover,
a:active {
    font-family: "Mallory MP Bold";
    color: #01356b;
    text-decoration: underline;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

h1.page-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2.page-subtitle {
    text-align: center;
    margin-top: -1.5rem;
    /* margin-bottom: 2rem; */
    font-size: 30px;
}


/* individual date items */


/* .field--type-smartdate div::before {
    content: " • ";
} */

.field--type-smartdate div {
    padding: 0.25em 0;
}

.social_menu h2 {
    visibility: hidden;
    text-align: right;
}

.paragraph p {
    line-height: 1.5rem;
}

h2.section-title {
    /* text-align: center; */
}

h2.section-subtitle {
    /* text-align: center; */
    font-size: 1.75rem!important;
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.center {
    text-align: center!important;
}

.plain-case {
    text-transform: none!important;
}

.normal-weight {
    font-weight: normal!important;
}


/* ==================================================================================
   NAVIGATION
   ================================================================================== */

#site-name {
    font-size: 1.8em;
    line-height: 1.1em;
    font-family: "Mallory Medium";
    text-transform: uppercase;
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    word-spacing: 40%;
    padding-left: 1em;
}

#site-name:link,
#site-name:visited {
    color: #01356b;
    text-decoration: none;
}

#site-name:hover,
#site-name:focus,
#site-name:active {
    text-decoration: none;
    color: #296dc0;
}

.ypm-header-nav-top {
    background-color: #01356b;
    color: white;
}

.ypm-header-container {
    /* -o-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); */
    /* padding: 0 1em; */
    margin: 0;
    /* color: white; */
}

.ypm-nav {
    padding: 0;
    background-color: white;
}

.ypm-nav-special {}

.ypm-nav-main {}

.ypm-nav-search {}

.ypm-nav-main-menu {
    padding-left: 0;
    padding-right: 0;
}

.ypm-nav-main ul {
    /* text-align: right; */
}

.ypm-nav-special ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
}

.ypm-nav-special ul li {
    list-style: none;
    display: inline-block;
}

.ypm-nav-special ul li a {
    padding: 0.2em 1em;
}

.ypm-nav-special ul li a:link,
.ypm-nav-special ul li a:visited {
    color: white;
    text-decoration: none;
}

.ypm-nav-special ul li a:hover,
.ypm-nav-special ul li a:focus {
    color: #01356b;
    background-color: white;
    text-decoration: none;
}

.ypm-nav-footer {
    font-size: 0.75rem;
    padding-top: 2em;
    border-top: 1px #ddd solid;
}

.ypm-nav-footer ul {
    text-align: left;
    /* display: list-item; */
    margin-left: 0;
    padding-left: 0;
}

.ypm-nav-footer ul:after {
    content: '\00a0\00a0\2022';
}

.ypm-nav-footer ul li {
    float: left;
    list-style: none;
}

.ypm-nav-footer ul li:before {
    content: '\2022';
    margin-right: 0.3em;
    margin-left: 0.3em;
}

#main-menu ul li,
.ypm-nav-special ul li {
    font-family: "Mallory Bold";
    text-transform: uppercase;
    font-size: 13px;
}

#main-menu ul li a {
    padding: 0.2em 1em;
}

#main-menu ul li a:link,
#main-menu ul li a:visited {
    color: black;
    text-decoration: none;
}

#main-menu ul li a:hover,
#main-menu ul li a:focus {
    color: white;
    text-decoration: none;
    background-color: #01356b;
}


/* .content h2 {
    text-align: center;
} */

@media only screen and (min-width: 768px) {
    #topNavContainer {
        padding-right: 0px;
    }
}

.navbar-toggle-plain {
    float: right;
    clear: both;
}

.ypm-sitemap-container {
    margin: 2em 0 0.5em 0;
    padding: 2em 0;
    background-color: #01356b;
    color: white;
}

.ypm-search-container {
    display: none;
    position: absolute;
    right: 1em;
    /* -o-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25); */
    -o-box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.4);
    box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.4);
    z-index: 2000;
    background: white;
    padding: 1em;
}

.ypm-search-container h2 {
    font-size: 18px;
}

#openSearchBox {
    float: right;
    cursor: pointer;
}

.museum-hours-current-day,
.museum-hours-current-day li {
    list-style-type: none;
    text-align: center;
}

.hours-container-current-day a:link,
.hours-container-current-day a:visited,
.hours-container-current-day a:active,
.hours-container-current-day a:hover,
.hours-container-current-day a:focus {
    color: white!important;
    text-decoration: none!important;
}

.office-hours-status,
.office-hours-status.office-hours-status--open,
.office-hours-status.office-hours-status--closed,
.office-hours-status--open,
.office-hours-status--closed {
    font-family: "Mallory MP Bold";
    font-weight: bold;
    text-transform: uppercase;
}

#block-hours-current-day-hours {
    float: left;
}

#block-opensearchbox {
    float: left;
    padding-left: 20px;
    font-size: 1.5em;
}

.office-hours__item-label {
    padding-right: 2em;
    font-family: "Mallory MP Bold";
    font-weight: bold;
    text-transform: uppercase;
}

.museum-hours-all-days {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}

.hours-container-all-days {
    padding-left: 2em;
}


/* ==================================================================================
   BUTTONS
   ================================================================================== */

.btn {
    border-radius: 0!important;
    color: white!important;
}

.btn:hover,
.btn:focus,
.btn:active {}

.signup-button {
    font-size: 1.5em!important;
}

.signup-button-smaller {
    /* font-size: 1.25em!important; */
    font-size: 1.1em!important;
}

.button-row {
    width: 100%;
    text-align: center;
}

.paragraph:has(.custom-button-container) {
    width: auto!important;
    display: inline-block!important;
}

.custom-button-container {
    width: auto!important;
    display: inline-block!important;
}

.fontawesome-icon,
.fontawesome-icons {
    display: inline-block!important;
    float: left!important;
    width: auto!important;
}

.button-fa-icon {
    margin-right: 0.25em;
}

.btn.btn-normal {
    font-size: 1em!important;
}

.btn.btn-large {
    font-size: 1.5em!important;
}

.btn.btn-xlarge {
    font-size: 2em!important;
}

.btn:link,
.btn:visited,
#search-block-form button,
.search-form button,
button[type=submit] {
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    font-family: "Mallory Bold"!important;
    text-transform: uppercase!important;
    cursor: pointer;
    border-radius: 0px!important;
    font-size: 1em;
    border: none!important;
}

.btn:hover,
.btn:focus,
.btn.focus,
.open>.dropdown-toggle.btn,
#search-block-form button:focus,
#search-block-form button:hover,
.search-form button:focus,
.search-form button:hover,
button[type=submit]:hover,
button[type=submit]:focus {
    color: black!important;
    background-color: #fff!important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s all ease-in!important;
    transition: 0.2s all ease-in!important;
    border-radius: 0px!important;
    cursor: pointer;
    /* font-size: 1em; */
    border: none!important;
    outline: none;
}

.btn:active,
.btn.active,
#search-block-form button:active,
.search-form button:active,
button[type=submit]:active {
    background-color: #eee!important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border: none!important;
    outline: none;
}

.btn-peabody,
.btn-primary {
    background-color: #01356b!important;
}


/* ==================================================================================
   CARDS
   ================================================================================== */

.box {
    margin: 1em;
    /*border: #708fb8 1px solid;
    border-top: #708fb8 8px solid;*/
    /*padding: 1em;*/
}

.box p {
    font-size: 13px;
    text-align: left;
}

.box hr {
    margin: 5px auto;
}

.box h2 {
    margin: 0 0 0.5em 0;
}

.back .box-header {
    margin-top: 0;
    color: black;
    text-shadow: none;
}

.back h2,
.back h3 {
    margin-top: 10px;
}

.box-item {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    transform-style: preserve-3d;
    transition: transform 1s;
    padding: 0;
    height: 300px;
    min-height: 300px;
    margin-left: 5px;
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
}

.box-item:hover {
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);*/
    cursor: pointer;
}

.noflip {
    cursor: auto!important;
    margin-bottom: 0;
}

.front-content {
    height: 100%;
    width: 100%;
}

.back-content {
    height: 100%;
    width: 100%;
}

.back-content p {
    line-height: 1rem;
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
}

.box-item figure {
    margin: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    padding: 1em;
}

.box-item .front {
    height: 100%;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    overflow-y: hidden;
    -webkit-transition: 0.6s all ease-out;
    -moz-transition: 0.6s all ease-out;
    transition: 0.6s all ease-out;
}

.box-item .back {
    /*transform: rotateY(180deg) translateY(-300px);*/
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px);
    background-color: white;
    overflow: hidden;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 0;
    -webkit-transition: 0.6s all ease-out;
    -moz-transition: 0.6s all ease-out;
    transition: 0.6s all ease-out;
}

.exhibit-heading {
    margin-top: 0!important;
    margin-bottom: 0!important;
    font-size: 1.7rem;
}

.exhibit-subheading {
    letter-spacing: 0.04em;
    margin-top: 0.3em;
    font-size: 1rem;
}

.event-back-heading-double {
    margin-top: 0.5em;
}

.event-back-heading {
    margin-top: 0;
}

.shadow {
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.box-item.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card-container {
    perspective: 800px;
    position: relative;
}

.diagonal-back {
    background-size: cover;
    background-image: url('../img/cards/diagonal_blue_2.png');
    background-position: center;
}

.back-top {
    width: 100%;
    height: 50%;
}

.back-bottom {
    width: 100%;
    height: 50%;
}

.back-right {
    text-align: right;
}

.back-left {
    text-align: left;
}

.back-right p {
    text-align: right;
}

.photo-front {
    background-size: cover;
}

.photo-front-shadow,
.photo-front-shadow-top {
    -webkit-box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5);
}

.photo-front-shadow-bottom {
    -webkit-box-shadow: inset 0 -70px 70px -26px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -70px 70px -26px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -70px 70px -26px rgba(0, 0, 0, 0.5);
}

.photo-front-shadow-topbottom {
    -webkit-box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5), inset 0 -50px 70px -26px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5), inset 0 -50px 70px -26px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 100px 70px -26px rgba(0, 0, 0, 0.5), inset 0 -50px 70px -26px rgba(0, 0, 0, 0.5);
}

.box-header {
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: white;
}

.box-date {
    position: absolute;
    bottom: 10px;
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: white;
}

.box-date-right {
    float: right;
    text-align: right;
    right: 30px;
}

.box-date-left {
    float: left;
    text-align: left;
    left: 15px;
}

.box .box-date-right {
    margin-right: -1em;
}


/* ==================================================================================
   SOCIAL ICONS
   ================================================================================== */

ul.social-icons {
    width: 100%;
    text-align: right;
    padding-top: 2em;
    list-style: none;
    padding-left: 0;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 0.25em;
    margin-left: 0.25em;
    background: #333;
    color: white;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    width: 48px;
    vertical-align: middle;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    min-height: 1.8em;
    min-width: 1.8em;
    text-align: center;
}

ul.social-icons li a {
    color: white!important;
}

ul.social-icons li:hover {
    border-radius: 50%;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-youtube:hover {
    background: #e62117;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-facebook:hover {
    background: #3b5998;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-twitter:hover {
    background: #00b0ed;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-instagram:hover {
    background: #bc2a8d;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}


/* ==================================================================================
   SITEMAP
   ================================================================================== */

.sitemap-menu a:link,
.sitemap-menu a:visited {
    color: white;
}

.sitemap-parent-menu {
    padding-left: 0;
}

.sitemap-parent-item {
    font-size: 1.5rem;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Mallory Bold";
}

.sitemap-parent-item a:link .sitemap-parent-item a:visited {
    color: white;
    background-color: none;
    text-decoration: none;
    padding: 0 0.5em;
}

.sitemap-parent-item a:hover,
.sitemap-parent-item a:focus,
.sitemap-parent-item a:active {
    color: #01356b;
    background-color: white;
    text-decoration: none;
    padding: 0 0.25em;
}

.sitemap-child-menu {
    margin-bottom: 1em;
}

.sitemap-child-item {
    padding-left: 2em;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
}

.sitemap-child-item a:link,
.sitemap-child-item a:visited {
    color: white;
    background-color: none;
    text-decoration: none;
    padding: 0 0.5em;
}

.sitemap-child-item a:active,
.sitemap-child-item a:focus,
.sitemap-child-item a:hover {
    color: #01356b;
    background-color: white;
    text-decoration: none;
    padding: 0 0.5em;
}


/* .sitemap-parent-item a {
    font-family: "Mallory Bold"!important;
} */

.sitemap-child-item a {
    font-family: "Mallory Medium"!important;
}


/* ==================================================================================
   SEARCH
   ================================================================================== */

.search-result-title {
    font-size: 1em!important;
    border-top: 1px #ddd solid;
    margin-bottom: 0.25em;
}

.search-result-link {
    margin-bottom: 1em;
}

strong.hl {
    background: rgba(245, 225, 128, 0.4);
    font-style: italic;
    font-family: "Mallory MP Medium"!important;
    text-transform: none!important;
}

.snippet {
    margin-bottom: 1.5em;
}

.result-small-url {
    font-size: 0.8em;
    font-family: "Mallory MP Medium";
    margin-bottom: 5px;
    font-style: italic;
}

.result-small-url a:link,
.result-small-url a:visited {
    text-decoration: none;
    color: black;
}

.result-small-url a:active,
.result-small-url a:hover,
.result-small-url a:focus {
    text-decoration: none;
}

.no-results {
    margin: 1.5em 0;
}

details {
    display: none;
}

.results-page-header {
    text-align: center;
    margin-bottom: 1em;
}


/* ==================================================================================
   MISC
   ================================================================================== */

#block-yalelogo img {
    -o-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.bs-site-alert {
    display: block!important;
}

.google-map-embed {
    list-style-type: none;
    padding-left: 0;
}

.directions-link a:link,
.directions-link a:visited {
    color: white;
    text-decoration: none;
    font-family: "Mallory Medium"!important;
    text-transform: uppercase;
}

.directions-link a:focus,
.directions-link a:active,
.directions-link a:hover {
    color: #01356b;
    background-color: white;
    text-decoration: none;
    padding: 0 0.5em;
}

.alert-dismissible .close {
    padding: 0px;
}


/* ==================================================================================
   ADMIN
   ================================================================================== */

.nav-item a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #333;
    color: #ddd;
    padding: 0 1em;
    border-top: 4px #ddd solid;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    font-family: 'Open Sans';
}

.nav-item a:active,
.nav-item a:hover,
.nav-item a:focus {
    background: #ddd;
    border-top-color: #333;
    padding-top: 0.5em;
    color: #333;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.node-preview-container {
    position: initial!important;
}


/* ==================================================================================
   PRE-DEFINED WITH THEME
   ================================================================================== */

#edit-field-date-birth-wrapper .js-form-type-select {
    width: 33%;
    float: left;
}

#edit-field-photo-ajax-wrapper .description {
    display: none;
}

.block-region-cta {
    font-size: 1.5rem;
}

.block-region-sidebar-right .field--type-string label {
    display: none;
}

.block-region-sidebar-right summary {
    display: none;
}

.block-region-sidebar-right .form-control {
    border: 2px solid rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
}

.paragraph>.paragraph__column {
    padding-left: 0px;
    padding-right: 0px;
}


/* ==================================================================================
   UPCOMING EVENTS
   ================================================================================== */

.item-list-upcoming-day h3,
.item-list-upcoming-day-title {
    font-size: 1.5rem;
    /* padding-left: 1em; */
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.item-list-upcoming-day h3::before,
.item-list-upcoming-day-title::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
}

.item-upcoming-event {
    padding-left: 1em!important;
    padding-top: 1em!important;
    list-style-type: none!important;
}

.grouping-primary {
    background-color: #01356b;
    color: white;
    padding: 0.5em;
}

.item-upcoming-event-title {
    font-size: 1.25rem;
}

.view-event-content {
    padding-left: 0;
}

.item-upcoming-event-time {
    background-color: #01356b;
    color: white;
    padding: 0.5em;
    float: right;
}

.item-upcoming-event-time strong {
    color: white;
}

.date-time {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background: #01356b;
    color: white;
}


/* #register-container {
    background: #01356b;
} */

.date-time-icon {
    height: 100%;
    font-size: 2em;
    display: table-cell;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 14px;
    /* transform: translateY(14px); */
}

.date-time-content {
    display: table-cell;
    padding: 1em 0;
}

.event-page-meta-list {
    font-family: "Mallory Bold";
    font-weight: bold;
    text-transform: uppercase;
    list-style: disc;
    list-style-type: disc;
    font-size: 1.25rem;
    text-align: center;
    padding-left: 0;
}

.event-page-meta-list li {
    display: inline-block;
    margin: 0 1em;
    list-style: disc;
    list-style-type: disc;
}

.item-upcoming-event-type {
    margin-bottom: 0;
}

.item-upcoming-event-snippet {
    border-left: 8px #01356b solid;
    padding-left: 1em;
    /* margin-left: 1em; */
    margin: 0 1em;
}


/* .item-upcoming-event-link a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
} */


/* ==================================================================================
   STAFF
   ================================================================================== */

.staff-info-container {
    width: 200px;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    padding-bottom: 0.5em;
}

.staff-info-container:hover {
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

.staff-info-photo {
    margin-top: 1em;
}

.staff-info-photo img {
    width: 100%;
    height: auto;
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
}

.staff-info-text {}

.staff-info-text hr {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}

.staff-info-text-title {
    font-size: 1.15em;
}

.staff-info-text-admin {
    /* color: red; */
}

.staff-info-text-collections {
    /* color: blue; */
}

.staff-info-text-email,
.staff-info-text-phone,
.staff-info-text-website,
.staff-info-text-officeloc {
    font-size: 0.9em;
}

.staff-info-text-row {
    display: block;
}

.inline-spext {
    display: inline!important;
}

.inline-spext::before {
    content: " x";
}

.inline-division::before {
    content: ", ";
}

.staff-info-text-row strong {
    text-transform: none!important;
}


/* VIEW --------------------------------------------------------- */

.item-list-staff-admin-members,
.item-list-staff-coll-members,
.item-list-staff-members {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-list-staff-admin-level,
.item-list-staff-coll-level,
.item-list-staff-level {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2em;
}

.item-list-staff-admin-department-title,
.item-list-staff-coll-division-title {}


/* ==================================================================================
   SLIDERS
   ================================================================================== */

.ypm-slider-container {
    padding-left: 0!important;
    padding-right: 0!important;
}

.full-width {
    padding-left: 0;
    padding-right: 0;
}

.slider-container-full {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.owl-wrapper-outer {
    /* height: 500px; */
}

.owl-item-inner img {
    width: 100%;
    height: auto;
}

.owl-item-inner {
    background-color: #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.owl-item-inner-format-standard {
    height: 450px;
    padding-top: 56.25%;
    max-height: 450px;
}

.owl-item-inner-format-hero {
    /* height: calc(100vh - 110px); */
    height: 0;
    padding-top: 56.25%;
    max-height: 80vh;
}

.owl-item-inner-format-fullwidth {
    height: 0;
    /* padding-top: 56.25%; */
    height: 450px;
    max-height: 450px;
}

.slider-text-overlay {
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slider-text-overlay-light {
    background-color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: black;
}

.slider-text-overlay-dark {
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
}

.slider-text-overlay-blue {
    background-color: rgba(1, 53, 107, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
}

.slider-text-overlay-dark h2,
.slider-text-overlay-dark h3,
.slider-text-overlay-dark h4,
.slider-text-overlay-dark h5,
.slider-text-overlay-dark h6,
.slider-text-overlay-dark strong,
.slider-text-overlay-dark p,
.slider-text-overlay-dark em,
.slider-text-overlay-dark li,
.slider-text-overlay-dark a,
.slider-text-overlay-dark button,
.slider-text-overlay-blue h2,
.slider-text-overlay-blue h3,
.slider-text-overlay-blue h4,
.slider-text-overlay-blue h5,
.slider-text-overlay-blue h6,
.slider-text-overlay-blue strong,
.slider-text-overlay-blue p,
.slider-text-overlay-blue em,
.slider-text-overlay-blue li,
.slider-text-overlay-blue a,
.slider-text-overlay-blue button {
    color: white;
}

.slider-text-overlay-format-standard {}

.slider-text-overlay-format-hero {}

.slider-text-overlay-format-fullwidth {}

.owl-custom-caption {}

.owl-custom-caption-standard {}

.owl-custom-caption-hero {
    padding-right: 15px;
}

.owl-custom-caption-fullwidth {
    padding-right: 15px;
}


/* ==================================================================================
   MEDIA QUERIES
   ================================================================================== */

@media only screen and (max-width: 600px) {
    /* MOBILE STYLES - HEADINGS & SUBHEADINGS */
    /* FRONT OF CARDS */
    .exhibit-heading {
        font-size: 1.5em;
    }
    .exhibit-subheading {
        font-size: 0.95em;
    }
    /* BACK OF CARDS */
    .back-content .button-row {
        padding-top: 0;
    }
}